/* Page + full-screen map - Make the page tall enough for a full-screen map*/
html, body {
  height: 100%;
}
/* Basic styling for the whole page */
body {
  margin: 0;
  background-color: whitesmoke;
  font-family: "Mako", sans-serif;
  color: #3d3d3d;
}
/* Make the map fill the entire browser window */
#map {
  position: fixed;
  inset: 0; /* top:0; right:0; bottom:0; left:0 */
}
.custom .leaflet-popup-tip,
.custom .leaflet-popup-content-wrapper {
    background: #000000;
    color: #ffffff;
}
/*Style the description panel (overlay box)*/
#description {
  position: fixed;
  left: 10px;
  bottom: 100px;
  width: 250px;
  height: 715px;
  max-width: calc(100vw - 20px);
  padding: 0 15px;
  background: whitesmoke;
  border: 1px solid #777;
  border-radius: 6px;
  z-index: 800;
}
/*Style the title panel (overlay box)*/
#title {
  position: fixed;
  top: 10px;
  left: 60px;
  width: 1650px;
  font-size: 2em;
  font-family: "EB Garamond", serif;
  letter-spacing: .04em;
  text-align-last: center;
  margin: 0;
  padding: 10px 15px;
  background: rgba(148, 253, 204, 0.5);
  border: 1px solid #777;
  border-radius: 6px;
  z-index: 800;
}
/*Style the footer panel (overlay box)*/
#footer {
  position: fixed;
  bottom: 20px;
  left: 40px;
  width: 1800px;
  font-size: 2em;
  font-family: "EB Garamond", serif;
  letter-spacing: .04em;
  text-align-last: center;
  margin: 0;
  padding: 10px 15px;
  background: rgba(148, 253, 204, 0.5);
  border: 1px solid #777;
  border-radius: 6px;
  z-index: 800;
}
/*Make paragraph text inside the description readable */
#description p {
  font-size: 0.95rem;
  line-height: 1.5;
}
/*Style links inside the description (and hover effect)*/
#description a {
  color: #005daa;
  text-decoration: none;
}

#description a:hover {
  text-decoration: underline;
}